.App{
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
/* align-items: center; */
}

.new{
  color: rgb(48, 48, 48);
}

.Header img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.Header h1{
  font-size: 2rem
}

.Editchartbtn{
  width: 20%;
  font-size: 1.4rem;

  align-self: center;
  border-radius: 2em;
  background-color: #007bff;
  border: 1px solid rgb(80, 80, 80);
  color: white;
  padding: 2%;
}


@media screen and (max-width: 720px) {
.Editchartbtn{
  transform: translateX(0);
}
}
